{
  "presets": [
    "es2015",
    "stage-3", // async / await
    "react"
  ],
  "plugins": [
    "syntax-decorators",            // decotator
    "transform-decorators-legacy",  // decotator
    "transform-object-rest-spread", // spread operation
    "transform-class-properties"    // class static method
  ]
}
