.one-piece-character {
  background-color: white;
  border: 1px solid lightgray;
  height: 60px;

  padding: 0.2rem 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;

  display: flex;
  .checkbox {
    flex: 0 0 35px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    input[type='checkbox'] {
      cursor: pointer;
    }
  }

  img {
    flex: 0 0 60px;
    height: 60px;
    margin: 0 5px;
    cursor: move;
  }

  .columns {
    display: flex;
    flex: 1;
    justify-content: space-around;

    .col-1 {
      flex: 0 1 80px;
      display: flex;
      flex-flow: column;
      & > * {
        flex: 1;
        display: flex;
        align-items: center;
      }

      .input-box {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        input[type='number'] {
          margin: 0;
          padding: 0;
          width: 48px;
          border-width: 0;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }

    .col-2 {
      flex: 0 1 80px;

      display: flex;
      flex-flow: row wrap;

      & > * {
        height: 30px;

        display: flex;
        align-items: center;
      }

      .bead {
        padding-left: 5px;
        cursor: pointer;
      }

      select {
        text-transform: capitalize;
        cursor: pointer;
      }
    }

    .col-3 {
      flex: 0 1 50px;
      & > * {
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .custom {
        border: 1px solid steelblue;
        border-radius: 3px;
        width: 48px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
