.one-piece-character {
  border: 1px solid lightgray;
  padding: 0.2rem 0;
  margin-bottom: 0.3rem;
  background-color: white;
  font-size: 0.9rem;

  /* Flex Box */
  display: flex;
  & > * {
    /* Flex Items */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Item Margin */
    margin: 0 auto;
    &:nth-child(1), &:nth-child(2) {
      margin: 0;
      margin-left: 0.5rem;
    }
  }

  input[type="number"] {
    padding: 0;
    width: 48px;
    border-width: 0;
    font-size: 0.9rem;
    background-color: transparent;
  }

  .icon {
    flex-direction: row;
    img {
      width: 60px;
      height: 60px;
      cursor: move;
    }
  }

  .basis {
    flex-basis: 55px;
  }

  .baseline {
    display: flex;
    align-items: baseline;
  }

  .space-right {
    margin-right: 5px;
  }

  .bead {
    text-transform: capitalize;
    font-weight: bolder;
  }

  .point-cursor {
    cursor: pointer;
  }

  .custom {
    border: 1px solid steelblue;
    border-radius: 3px;
    input[type="number"] {
      padding: 0;
      padding-left: 5px;
      width: 48px;
    }
  }
}
